html {
            scroll-behavior: smooth;
        }
        section {
            scroll-margin-top: 80px;
        }
        body {
            margin: 0;
        }
        .serif-title {
            font-family: Georgia, "Times New Roman", serif;
        }
        .placeholder {
            background: #e5e7eb;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #9ca3af;
        }

        .software-row {
            display: flex;
            align-items: center;
            width: max-content;
            gap: 8rem;
            padding-right: 1rem;

        }

        .software-row-left {
            animation:
                move-left-right
                25s
                linear
                infinite;

        }

        .software-row-right {
            animation:
                move-right-left
                25s
                linear
                infinite;

        }

@keyframes move-left-right {
    0% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0%);
    }
}


@keyframes move-right-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-20%);
    }
}

